@using System.Net

@model Dentistry.Models.QueryViewModel

@{
    ViewData["Title"] = "QueryRunner";
}

    <h1>QueryRunner</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form action="/query/index" method="post">
    @Html.TextAreaFor(x => x.Query)
    <br />
    <button type="submit">Execute</button>
    <br />
    @if (ViewData.ModelState.ErrorCount > 0)
    {
        @Model.Exeption
    }

    @if (Model?.Table != null)
    {
        @Html.Raw(@WebUtility.HtmlDecode(Model.Table))
    }
</form>
