@model IEnumerable<Dentistry_therapy_department.Models.Journal>
@{
    ViewBag.Title = "Журнал";
}
<a asp-action="Create">Добавить запись</a>
<table  class="table">
    <tr>
        <td>Дата</td>
        <td>IdДоктора</td>
        <td>IdПроцедуры</td>
        <td>IdПациента</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Date</td>
            <td>@item.DoctorId</td>
            <td>@item.ProcedureId</td>
            <td>@item.MedRecordId</td>
        </tr>
    }
</table>