@model IEnumerable<DAL.Models.Journal>

@{
    ViewData["Title"] = "Journal";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<table>
		<thead>
            <tr>
                <td>
                    Дата
                </td>
                <td>
                    Имя Доктора
                </td>
                <td>
                    Фамилия Доктора
                </td>
                <td>
                    Название процедуры
                </td>
                <td>
                    Имя Пациента
                </td>
                <td>
                    Last name
                </td>
                <td>
                    Дата
                </td>
                <td>
                    Last name
                </td>
            </tr>
		</thead>
		<tbody>
			@foreach (var journal in Model)
			{
			<tr>
				<td>
					@journal.CreatedOn
				</td>

				<td>
					@journal.DoctorId
				</td>

                <td>
					@journal.ProcedureId
				</td>

                <td>
					@journal.MedRecordId
				</td>
            </tr>
			}
		</tbody>
	</table>
</div>
