@model IEnumerable<Dentistry.Models.ProcedureTotalPriceViewModel>

@{
    ViewData["Title"] = "Отчет";
}

<h1>Отчет</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Имя процедуры
            </th>
            <th>
                Цена
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MedRecord.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedRecord.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Procedure.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
<input id="input" type="text" placeholder="Search" onclick="remove()">
<button id="Search" onclick="search()" type="button">Find</button>
