@{
    ViewData["Title"] = "Отчеты";
}


<h2>Выбирите отчет</h2>
<div class="tabl">
    <div class="but">
        <div>
            <a asp-controller="Reports" asp-action="MedRecords"><button type="button" class="btn btn-outline-primary">Клиенты</button></a>
        </div>
        <div class="">
            <a asp-controller="Reports" asp-action="Prices"><button type="button" class="btn btn-outline-primary">Стоимость прооцедур клиентов</button></a>
        </div>
    </div>

    <div class="but">
        <div>
            <a asp-controller="Reports" asp-action="Procedures"><button type="button" class="btn btn-outline-primary">Прейскурант цен на процедуры</button></a>
        </div>
        <div class="">
            <button type="button" class="btn btn-outline-primary">4</button>
        </div>
    </div>


    <div class="but">
        <div>
            <button type="button" class="btn btn-outline-primary">5</button>
        </div>
        <div class="">
            <button type="button" class="btn btn-outline-primary">6</button>
        </div>
    </div>
</div>

<style type="text/css">
    h2 {
        text-align: center
    }

    .but {
        display: table-cell;
        flex-direction: row;
        justify-content: center;
    }

    button {
        width: 200px;
        height: 200px;
    }

    div {
        padding-left: 5px;
        padding-bottom: 5px;
    }

    .tabl{
        display: block;
        margin-left: 230px;
    }
</style>