@{
    ViewData["Title"] = "Reports";
}


<h2>Choose report</h2>
<div class="tabl">
    <div class="but">
        <div>
            <a asp-controller="Reports" asp-action="MedRecords"><button type="button" class="btn btn-outline-primary">Clients</button></a>
        </div>
        <div class="">
            <a asp-controller="Reports" asp-action="Prices"><button type="button" class="btn btn-outline-primary">Costs of clients</button></a>
        </div>
    </div>

    @*<div class="but">
        <div>
            <a asp-controller="Reports" asp-action="Procedures"><button type="button" class="btn btn-outline-primary">Procedure prices</button></a>
        </div>
        
    </div>*@
</div>

<style type="text/css">
    h2 {
        text-align: center
    }

    .but {
        display: table-cell;
        flex-direction: row;
        justify-content: center;
    }

    button {
        width: 200px;
        height: 200px;
    }

    div {
        padding-left: 5px;
        padding-bottom: 5px;
    }

    .tabl{
        display: block;
        margin-left: 230px;
    }
</style>