@model IEnumerable<Dentistry.Models.ProcedureSumPricesViewModel>

@{
    ViewData["Title"] = "Prices of procedures";
}

<h1>Prices of procedures</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Procedure name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Procedure.Name
                </td>
                <td>
                    @item.SumPrices
                </td>
            </tr>
        }
    </tbody>
</table>
