@model Dentistry.Models.ProcedureViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Procedure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label>
                    Medicine:
                    @Html.DropDownListFor(m => m.MedicineIds, Model.Medicines.Select(x => new SelectListItem($"{x.Name} - {x.Price}", x.MedicineId.ToString())), new { id = "" })
                </label>
				<button type="button" onclick="this.parentNode.remove()" class="btn btn-danger">Remove</button>
            </div>
            <button class="btn btn-success" type="button" onclick="this.before(this.previousElementSibling.cloneNode(true))">
                Add
            </button>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
